.page {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: white;
}

.title {
  margin: 15px 15px;
  padding: 10px;
  color: white;
  display: block;
  text-align: center;
  flex: auto;
  font-size: 22px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.list {
  margin: 0 16px;

  &-item {
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    color: white;
  }
}

.content {
  padding: 10px;
}

.block {
  margin: 15px;
}

.icon-github {
  margin: 0 10px;
  width: 29px;
  filter: invert(1);
}